* {
  background-color: lightgray; justify-items: center;
 
}
.product-card {
  border: 10px solid transparent;
  padding: 15px;
  border-radius: 25px;
  width: 500px;
  
  border-image: url(./picture/border-image.png) 30 round;
 text-align: center ;
 width: 300px;
 margin: 100px;
}
.product-title{font-size: x-large; text-align: center;}
.n{overflow: scroll;
height: 200px;}
.product-price{
}
:hover::product-price{visibility: visible;}